body{
    background-color:#FFFFFF; 
    background-image:none;
}

@media (max-width: 768px) {
    /* For mobile phones: */

}

@media  (min-width: 600px) {
    /* For tablets: */

}
@media only screen and (max-width: 768px) {
    /* For desktop: */
   .thumbnail{
    height: 437px;
    
}
}